@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    circle farthest-corner at 1.3% 2.8%,
    rgba(239, 249, 249, 1) 0%,
    rgba(182, 199, 226, 1) 100.2%
  );
  background-attachment: fixed;
  background-size: cover;
}

.svg {
  background-color: #f8f8f8;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.dot {
  fill: white;
  fill-opacity: 0.8;
  stroke: black;
  cursor: pointer;
}

.legend {
  width: 225px;
  height: 50px;
  position: absolute;
  top: 45%;
  left: 78.6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.legend_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.legend_box p {
  font-size: 0.85em;
}

.legend .legend_box .orange_box {
  width: 15px;
  height: 15px;
  background-color: #ed8f37;
}

.legend .legend_box .blue_box {
  width: 15px;
  height: 15px;
  background-color: #3779ed;
}

#tooltip {
  position: absolute;
  top: 28%;
  left: 78%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  text-align: left;
  width: 250;
  height: 130px;
  padding: 10px;
  font-size: 0.8em;
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  background-color: #f8f8f8;
  border-radius: 3px;
  border: 1px solid rgb(197, 197, 197);
  color: #333;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  opacity: 1;
  z-index: 10;
  pointer-events: none;
}
